<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title of CRUD Template</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <%- include('./partials/header') %>
      <h1>Title for CRUD app</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </header>
    <!--Photo Carousel-->
    <div id="carousel">
        <img src="img/carousel/kristof-korody-dqbqj3mdFfA-unsplash.jpg" class="active">
        <img src="img/carousel/kristof-korody-h5BE-EMz4zw-unsplash.jpg">
        <img src="img/carousel/kristof-korody-VOC-tjwRwc4-unsplash.jpg"> 
    </div>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <footer>
      <h2>Contact Us</h2>
      <p>Got Questions? We;ve got answers! Reach out to us at <a href="mailto:email@example.com">email@example.com</a> or call at us (555)123-4567</p>
      <p><strong>Thank you for coming to our restaurant</strong></p>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
